TestConsoleApplication/TestConsoleApplication/Service References/CalculatorNamespace/service.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:wsap="http://schemas.xmlsoap.org/ws/2004/08/addressing/policy" xmlns:wsa10="http://www.w3.org/2005/08/addressing" xmlns:tns="http://tempuri.org/" xmlns:msc="http://schemas.microsoft.com/ws/2005/12/wsdl/contract" xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:wsp="http://schemas.xmlsoap.org/ws/2004/09/policy" xmlns:wsam="http://www.w3.org/2007/05/addressing/metadata" xmlns:wsa="http://schemas.xmlsoap.org/ws/2004/08/addressing" xmlns:wsaw="http://www.w3.org/2006/05/addressing/wsdl" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd" xmlns:xsd="http://www.w3.org/2001/XMLSchema" name="Service" targetNamespace="http://tempuri.org/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsdl:types>
    <xsd:schema targetNamespace="http://tempuri.org/Imports">
      <xsd:import namespace="http://tempuri.org/" />
      <xsd:import namespace="http://schemas.microsoft.com/2003/10/Serialization/" />
      <xsd:import namespace="http://schemas.datacontract.org/2004/07/WcfService.Fault" />
      <xsd:import namespace="http://schemas.datacontract.org/2004/07/WcfService" />
    </xsd:schema>
  </wsdl:types>
  <wsdl:message name="IService_Add_InputMessage">
    <wsdl:part name="parameters" element="tns:Add" />
  </wsdl:message>
  <wsdl:message name="IService_Add_OutputMessage">
    <wsdl:part name="parameters" element="tns:AddResponse" />
  </wsdl:message>
  <wsdl:message name="IService_Substract_InputMessage">
    <wsdl:part name="parameters" element="tns:Substract" />
  </wsdl:message>
  <wsdl:message name="IService_Substract_OutputMessage">
    <wsdl:part name="parameters" element="tns:SubstractResponse" />
  </wsdl:message>
  <wsdl:message name="IService_Multiply_InputMessage">
    <wsdl:part name="parameters" element="tns:Multiply" />
  </wsdl:message>
  <wsdl:message name="IService_Multiply_OutputMessage">
    <wsdl:part name="parameters" element="tns:MultiplyResponse" />
  </wsdl:message>
  <wsdl:message name="IService_Divide_InputMessage">
    <wsdl:part name="parameters" element="tns:Divide" />
  </wsdl:message>
  <wsdl:message name="IService_Divide_OutputMessage">
    <wsdl:part name="parameters" element="tns:DivideResponse" />
  </wsdl:message>
  <wsdl:message name="IService_Divide_DividedByZeroFaultFault_FaultMessage">
    <wsdl:part xmlns:q1="http://schemas.datacontract.org/2004/07/WcfService.Fault" name="detail" element="q1:DividedByZeroFault" />
  </wsdl:message>
  <wsdl:message name="IService_Sqrt_InputMessage">
    <wsdl:part name="parameters" element="tns:Sqrt" />
  </wsdl:message>
  <wsdl:message name="IService_Sqrt_OutputMessage">
    <wsdl:part name="parameters" element="tns:SqrtResponse" />
  </wsdl:message>
  <wsdl:message name="IService_Sqrt_InvalidRootOperandFaultFault_FaultMessage">
    <wsdl:part xmlns:q2="http://schemas.datacontract.org/2004/07/WcfService" name="detail" element="q2:InvalidRootOperandFault" />
  </wsdl:message>
  <wsdl:portType name="IService">
    <wsdl:operation name="Add">
      <wsdl:input wsaw:Action="http://tempuri.org/IService/Add" message="tns:IService_Add_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IService/AddResponse" message="tns:IService_Add_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="Substract">
      <wsdl:input wsaw:Action="http://tempuri.org/IService/Substract" message="tns:IService_Substract_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IService/SubstractResponse" message="tns:IService_Substract_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="Multiply">
      <wsdl:input wsaw:Action="http://tempuri.org/IService/Multiply" message="tns:IService_Multiply_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IService/MultiplyResponse" message="tns:IService_Multiply_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="Divide">
      <wsdl:input wsaw:Action="http://tempuri.org/IService/Divide" message="tns:IService_Divide_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IService/DivideResponse" message="tns:IService_Divide_OutputMessage" />
      <wsdl:fault wsaw:Action="http://tempuri.org/IService/DivideDividedByZeroFaultFault" name="DividedByZeroFaultFault" message="tns:IService_Divide_DividedByZeroFaultFault_FaultMessage" />
    </wsdl:operation>
    <wsdl:operation name="Sqrt">
      <wsdl:input wsaw:Action="http://tempuri.org/IService/Sqrt" message="tns:IService_Sqrt_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IService/SqrtResponse" message="tns:IService_Sqrt_OutputMessage" />
      <wsdl:fault wsaw:Action="http://tempuri.org/IService/SqrtInvalidRootOperandFaultFault" name="InvalidRootOperandFaultFault" message="tns:IService_Sqrt_InvalidRootOperandFaultFault_FaultMessage" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="BasicHttpBinding_IService" type="tns:IService">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="Add">
      <soap:operation soapAction="http://tempuri.org/IService/Add" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="Substract">
      <soap:operation soapAction="http://tempuri.org/IService/Substract" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="Multiply">
      <soap:operation soapAction="http://tempuri.org/IService/Multiply" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="Divide">
      <soap:operation soapAction="http://tempuri.org/IService/Divide" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
      <wsdl:fault name="DividedByZeroFaultFault">
        <soap:fault use="literal" name="DividedByZeroFaultFault" namespace="" />
      </wsdl:fault>
    </wsdl:operation>
    <wsdl:operation name="Sqrt">
      <soap:operation soapAction="http://tempuri.org/IService/Sqrt" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
      <wsdl:fault name="InvalidRootOperandFaultFault">
        <soap:fault use="literal" name="InvalidRootOperandFaultFault" namespace="" />
      </wsdl:fault>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="Service">
    <wsdl:port name="BasicHttpBinding_IService" binding="tns:BasicHttpBinding_IService">
      <soap:address location="http://localhost:8733/Design_Time_Addresses/WcfService/Service/" />
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>